
<h2>Listado de usuarios</h2>

<p>
    @Html.ActionLink("Crear usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha de Nacimiento
        </th>
        <th>
            Nombre
        </th>
        <th>
            Sexo
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.listusuario)
    {
        <tr>
            <td>
                @item.FechaNacimiento
            </td>
            <td>
                @item.Nombre
            </td>
            <td>
                @if (@item.Sexo == 1)
                {
                    <span>Masculino</span>
                }
                else if (@item.Sexo == 2)
                {
                    <span>Femenino</span>
                }
                else
                {
                    <span></span>
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |    
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
